<%= form_with(model: @scheduled_transaction, url: scheduled_transactions_path) do |form| %>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
  
  <div class="myaccount-container">
    <div class="myaccount">
      <div class="circle-icon">
        <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 24px; height: 24px;') %>
      </div>
      <div class="myaccounttext">
        <%= form.text_field :account_name, class: 'account-name-field', placeholder: 'My DBS account' %>
        <p>271xxxxxxx0</p>
      </div>
    </div>

    <div class="arrow-and-line-container">
      <div class="arrow-gif-container">
        <%= image_tag('gif.gif', alt: 'Moving Arrow', class: 'arrow-gif', style: 'width: 50px; height: 30px;') %>
      </div>
      <div class="horizontal-line"></div>
    </div>

    <div class="myaccount-container">
    <div class="myaccount">
      <div class="circle-icon">
        <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 24px; height: 24px;') %>
      </div>
      <div class="myaccounttext">
        <%= form.text_field :account_name, class: 'account-name-field', placeholder: 'Recipent' %>
        <p>Carlos</p>
      </div>
    </div>

    <div class="moneybody">
    
    <div class='left'>
      <p class="amtin">Amount in</p>
      <p class="currency">SGD</p>
    </div>
    <div class='right'>
      <% if @scheduled_transaction %>
        <% transaction = @frequent_transactions.first %>
        <%= form.number_field :amount, value: transaction.amount, class: 'amount-field', placeholder: '0.00' %>
      <% else %>
        <%= form.number_field :amount, class: 'amount-field', placeholder: '0.00' %>
      <% end %>
    </div>
  </div>

    <div class="field">
      <%= form.label :next_payment_date %>
      <%= form.date_field :next_payment_date %>
    </div>

    <div class="nextbutton">
      <%= form.submit "SAVE" %>
    </div>
  </div>
<% end %>
