<%= form_with(model: @scheduled_transaction, url: scheduled_transactions_path) do |form| %>
  
  <div class="myaccount-container">
    <div class="myaccount">
      <div class="circle-icon">
        <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 24px; height: 24px;') %>
      </div>
      <div class="myaccounttext">
        <p>My DBS account</p>
        <p>271xxxxxxx0</p>
      </div>
    </div>

    <div class="arrow-and-line-container">
      <div class="arrow-gif-container">
        <%= image_tag('gif.gif', alt: 'Moving Arrow', class: 'arrow-gif', style: 'width: 50px; height: 30px;') %>
      </div>

    </div>

    <div class="myaccount">
      <div class="circle-icon">
        <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 24px; height: 24px;') %>
      </div>
      <div class="myaccounttext">
        <p>Recipient</p>
        <%= form.text_field :name, value: @frequent_transaction&.name, class: 'account-name-field', placeholder: 'Recipient' %>
      </div>
    </div>
  </div>

  <div class="moneybody">
    <div class="moneyleft">
      <p class="amtin">Amount in</p>
      <p class="currency">SGD</p>
    </div>
    <div class="schemoneyright">
      <%= form.number_field :amount, value: @frequent_transaction&.amount, class: 'amount-field', placeholder: '0.00' %>
    </div>
  </div>

  <div class="schedule-details">
    <div class="start-date">
      <%= form.label :start_date, 'Start Date' %>
      <%= form.date_field :start_date, class: 'start-date-field' %>
    </div>
    <div class="frequency">
      <%= form.label :frequency, 'Frequency' %>
      <%= form.select :frequency, options_for_select([['Daily', 'daily'], ['Weekly', 'weekly'], ['Monthly', 'monthly']]), class: 'frequency-field' %>
    </div>
  </div>


  <div class="nextbutton">
    <%= form.submit "SAVE" %>
  </div>
<% end %>
