<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your HTML Document</title>
 
</head>

<body style="background-image: url('<%= asset_path 'loginbackground.png' %>');">
<div className='loginbackground'>

<div style="padding:10px">
<%= image_tag("dbslogo.png", alt: "DBS-Bank-logo", class: "Dbslogin") %>


<div class="form_styling">
<%= form_with url: sign_in_path do |form|%>
    <div class="form-group">
    <%= form.text_field :phone, class: 'form-control', placeholder: 'Enter phone number' %>
  </div>

  <div class="form-group">
    <%= form.password_field :password, class: 'form-control', placeholder: ' Enter PIN' %>
  </div>

    <div class="form-group">
    <%= form.submit 'Sign In', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
<h1 class="signinh1">New to DBS?</h1>
<div class="signinh2">
  <%= link_to "Sign Up", sign_up_path, class: "link-custom" %>
</div>
</div>
</div>
</body>
</html>