
<body style="background-image: url('<%= asset_path 'loginbackground.png' %>');">
<div style="padding:10px">

<%= image_tag('dbslogo.png', alt: 'DBS-Bank-logo', class: 'Dbslogin') %>

<%= form_with(model: @user, url: sign_up_path) do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4>Please correct the following errors:</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form_styling">

   <div class="form-group">
    <%= form.text_field :phone, class: 'form-control', placeholder: 'Enter your phone number' %></div>


 <div class="form-group">
    <%= form.password_field :password, class: 'form-control', placeholder: 'PIN (6 digits)' %></div>


<div class="form-group">
    <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm your PIN' %></div>



    <%= form.submit 'Sign Up', class: 'btn btn-primary' %>
<% end %>
</div>
<div class="signinh2" >
<%= link_to "Sign In", sign_in_path, class: "link-custom"  %></div>
</div>
</div>
</div>
</body>