<%= form_with(model: @shortcut, url: shortcuts_path, method: :post) do |form| %>
<header>
  <%= link_to '<', root_path, class: 'back-button' %>
  <h1 class="paynow-header">Create Quick Shortcut</h1>
</header>

<!-- <div class="whitespace" style="background-color: #f1f2f4;"></div> -->

<div class="header-content">
  <div class="left-container" style="margin-top: 30px;">
    <div class="circle-container">
      <div class="circle-icon">
        <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 22px; height: 20px;') %>
      </div>
    </div>
    <div class="arrow-gif-container">
      <%= image_tag('gif.gif', alt: 'Moving Arrow', class: 'arrow-gif', style: 'width: 50px; height: 30px;') %>
    </div>
    <div class="circle-container">
      <div class="circle-icon">
        <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 22px; height: 20px;') %>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="myaccounttext" style="margin-bottom: -10px;">
      <p style="font-weight: 530; color: #505050; margin-top: 10px; margin-bottom: 2px;">My Account</p>
      <div class="account-number">
        <p style="font-size: 15px; font-weight: bold; color: #a8abb0; display: inline-block;">271xxxxxxx0</p>
        <p class="text-right" style="margin-left: 100px;">SGD 29,891</p>
      </div>
    </div>
    <div class="horizontal-line"></div>
      <div class="recipienttext">
        <%= form.text_field :recipient_name, value: params.dig(:shortcut, :recipient_name), class: 'form-control grey-textbox' %>
      </div>
  </div>
</div>

<div class="whitespace1"></div>

<div class="moneybody">
  <div class='num-left'>
    <p class="amtin">Amount in</p>
    <p class="currency">SGD</p>
  </div>
  <div class='num-right'>
    <%= form.number_field :amount, value: params.dig(:shortcut, :amount), step: 0.01, class: 'amount-field', placeholder: '0.00' %>
  </div>
</div>

<div class="grey-box">
  <div class="field" style="margin-left: 25px; padding-top:25px;">
    <%# <div class="whitespace"></div> %>
    <%= form.label :nickname, "Shortcut Name" %>
    <%= form.text_field :nickname, 
                        # value: params.dig(:shortcut, :nickname), 
                        class: 'form-control white-textbox', 
                        maxlength: 10, 
                        style: 'width: 90%; border: 2px solid #ccc;',
                        oninput: "this.value = this.value.slice(0, 10); document.getElementById('char-count').textContent = this.value.length;" %>
    <span id="char-count" class="small-text" style="font-size: 12px; margin-left: 5px;">0</span><span class="small-text" style="font-size: 12px;">/10 characters</span>
  </div>

  <div class="next-button" style="margin-top: 250px;">
    <%= form.submit "Create Quick Shortcut", id: "next-button" %>
  </div>
</div>
<% end %>


<style>
  .grey-textbox {
    background-color: #dfdfdf;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
  }

  canvas {
    border: 2px solid #ccc;
    border-radius: 15px; /* Adjust the radius for rounded edges */
  }

  .small-text {
    font-size: 12px;
  }
</style>

