<%= form_with(model: @transaction, local: true, html: { id: 'transaction-form' }) do |form| %>

  <!-- HTML for the error_popup/modal -->
  <div id="error_popup" class="error_popup hidden">
    <div class="error_popup-content">
      <p style="font-weight: bold">Enter an amount to pay</p>
        <p style="font-size: 18px">How much do you want to pay? Let us know.</p>
        <hr style="height: 1px solid grey;">
      <button class="error_popup-ok-button" id="error_popup-ok-button">OK</button>
    </div>
  </div>

  <header>
    <%= link_to '<', enter_transaction_path, class: 'back-button' %>
    <h1 class="paynow-header">PayNow to Mobile</h1>
  </header>

  <div class="header-content">
    <div class="left-container">
      <div class="circle-container">
        <div class="circle-icon">
          <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 22px; height: 20px;') %>
        </div>
      </div>
      <div class="arrow-gif-container">
        <%= image_tag('gif.gif', alt: 'Moving Arrow', class: 'arrow-gif', style: 'width: 50px; height: 30px;') %>
      </div>
      <div class="circle-container">
        <div class="circle-icon">
          <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 22px; height: 20px;') %>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div class="myaccounttext">
        <p style="font-weight: 530; color: #505050; margin-top: 10px; margin-bottom: 2px;">My Account</p>
        <div class="account-number">
          <p style="font-size: 15px; font-weight: bold; color: #a8abb0; display: inline-block;">271xxxxxxx0</p>
          <p class="text-right" style="margin-left: 100px;">SGD 29,891</p>

        </div>
      </div>
      <div class="horizontal-line"></div>
      <div class="recipienttext">
      <%= form.text_field :name, placeholder: 'Recipient Name', value: params[:name] || params.dig(:scheduled_transaction, :name) || params[:mobile_number] %>
      </div>
    </div>
  </div>

  <div class="whitespace1"></div>

  <div class="moneybody">
    <div class='num-left'>
      <p class="amtin">Amount in</p>
      <p class="currency">SGD</p>
    </div>
    <div class='num-right'>
      <%= form.number_field :amount, id:"PayNowAmount", class: 'amount-field', placeholder: '0.00', value: params[:amount] || params.dig(:scheduled_transaction, :amount) %>
    </div>
  </div>

  <div class="grey-box">
    <div class="group">
      <div class='num-left'>Authorised</div>
      <div class='num-right'>SGD 5,000.00</div>
    </div>
    <div class="group">
      <div class='num-left' style="font-size: 17px; padding-bottom: 15px;">Remaining</div>
      <div class='num-right'>SGD 4,999.00</div>
    </div>
    <a href="#" class="change-limit"><u>Change Limit</u></a>
    <div class="group">
      <div class='num-left' style='font-size: 15px; padding-bottom:15px;'>TRANSFER DETAILS</div>
    </div>
    <div class="transfer-details">
      <div class='num-left' style='font-size: 18px;'>Add comments for Recipient</div>
      <%= form.text_field :comments, placeholder: "PayNow Transfer" %>
    </div>
    <div class="terms">
      By tapping “Next”, you agree to be bound by the Terms and Conditions.
    </div>
    <div class="next-button">
      <%= form.submit "NEXT", id: "next-button" %>
    </div>
  </div>
<% end %>
