
<%= form_with(model: @transaction, local: true) do |form| %>
    <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <header>
      <%= link_to '←', request.referer || root_path, class: 'back-button' %>
      <h1 class = "paynow-header">PayNow to Mobile</h1>
      <div class="whitebox"></div>
    </header>

  <%# <div class="whitespace" style="background-color: #f1f2f4;"></div> %>

  
  <div class="header-content">
      <div class="left-container">
        <div class="circle-container">
          <div class="circle-icon">
            <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 22px; height: 20px;') %>
          </div>
        </div>
        <div class="arrow-gif-container">
          <%= image_tag('gif.gif', alt: 'Moving Arrow', class: 'arrow-gif', style: 'width: 50px; height: 30px;') %>
        </div>
        <div class="circle-container">
          <div class="circle-icon">
            <%= image_tag('dbslogoonly.png', alt: 'DBS Logo', class: 'DBSlogo', style: 'width: 22px; height: 20px;') %>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="myaccounttext">
          <p style="font-weight: 530; color: #505050; margin-top: 10px; margin-bottom: 2px;">My Account</p>
          <div class="account-number">
            <p style="font-size: 15px; font-weight: bold; color: #a8abb0; display: inline-block;">271xxxxxxx0</p>
            <p class="text-right" style="margin-left: 100px;">SGD 29,891</p>
          </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="recipienttext">
          <%= form.text_field :name, placeholder: 'Recipient Name' %>
        </div>
      </div>
    </div>


  <div class="whitespace"></div>

  <div class="moneybody">
    <div class='moneyleft'>
      <p class="amtin">Amount in</p>
      <p class="currency">SGD</p>
    </div>
    <div class='moneyright'>
      <%= form.number_field :amount, class: 'amount-field', placeholder: '0.00' %>
    </div>

  </div>

<body>
  <div class="limits">
  <div class="group">
    <div class='num-left'>Authorised</div>
    <div class='num-right'>SGD 5,000.00</div>
  </div>
  <div class="group">
    <div class='num-left', style='padding-bottom:15px;'>Remaining</div>
    <div class='num-right'>SGD 4,999.00</div>
  </div>
    <a href="#" class="change-limit"><u>Change Limit</u></a>
  </div>

  <div class="transfer-details">
  <p>TRANSFER DETAILS</p>

  
      <%= form.label :comments, "Add comments for recipient" %>
      <%= form.text_field :comments, value: "PayNow Transfer" %>
    

  <div class="terms">
    <p>By tapping “Next”, you agree to be bound by the <a href="#">Terms and Conditions</a>.</p>
  </div>
  </div>


    <div class="nextbutton">
      <%= form.submit "NEXT", id: "next-button" %>
    </div>

    </div>
<% end %>
</body>