<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Enter Recipient's Details</title>
  <%= stylesheet_link_tag 'enter_transactions', media: 'all' %>
</head>
<body class="enter">
  <header>
    <%= link_to '<', root_path, class: 'back-button' %>
    <h1 class="paynow-header">Enter Recipient's Details</h1>
    <div class="whitebox"></div>
  </header>

  <div class="content-container">
    <%= form_with(url: new_transaction_path, method: :get, local: true) do |form| %>
      <div class="input-container">
        <div class="input-label-mobile">ENTER MOBILE NO.</div>
        <div class="mobile-input">
          <span class="country-code">+65</span>
          <%= form.text_field :mobile_number, id: "mobile_number", maxlength: "8", placeholder: "Recipient's Mobile No.", class: "mobile-number-input" %>
          <span class="hint-text">Enter name or mobile no.</span>
        </div>
      </div>
      <div class="next-button-container">
        <%= form.submit "NEXT", class: "next-button-recipient" %>
      </div>
    <% end %>
  </div>
</body>
</html>