<html lang="en" class="wf-lato-n4-active wf-inter-n4-active wf-active">
<head>
<style id="react-native-stylesheet"></style>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="Web site created using create-react-app">
    <link rel="apple-touch-icon" href="/logo192.png">
    
    
    <link rel="manifest" href="/manifest.json">
    
    <title>ACCOUNTS</title>
  <%# <script defer="" src="/static/js/bundle.js"></script> %>

</head>
<body data-new-gr-c-s-check-loaded="14.1185.0" data-gr-ext-installed="" style="margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
    <div class="container">
    <div class="scrollable">
    <div class="homeheader">
    <div class="header">
    <div class="leftcontainer">
    <button class="transparent">
    <img src="/assets/bellwhite.png" alt="bell" class="bell">
    </button><button class="transparent">
    <img src="/assets/eye.png" class="eye">
    </button></div><div class="rightcontainer">
    <button class="transparent">
    <img src="/assets/help.png" class="help">
    </button><button id="logoutButton" class="transparent">
    <div class="logoutContainer">
    <p class="logoutText">LOG OUT</p></div>
    </button></div></div>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% if @frequent_transactions.any? %>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    <% end %>
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    

    <% if @frequent_transactions.any? %>
      <div class="item">
        <%= image_tag('dbsbackground.png', alt: 'DBS background', class: 'carouselImage') %>
        <div class="carousel-caption">
          <p class="textheader">Suggestion:</p>
          <p class="textbody">Based on your frequent transactions, consider scheduling a payment or creating a shortcut for:</p>
          <ul class="textbody">
            <% @frequent_transactions.each do |transaction| %>
              <li><%= "#{transaction.name}: #{number_to_currency(transaction.amount, unit: 'SGD ', precision: 2)}" %></li>
            <% end %>
          </ul>
          
            <button class='transparent' id='setupButton'>
              <div class='buttonContainer'>
                <p class='buttonText'>Set up</p>
              </div>
            </button>
          </div>
        
      </div>
    <% end %>
  

  <div class="item active">

      <%= image_tag('dbsbackground.png', alt: 'DBS background', class: 'carouselImage') %>
      <div class="carousel-caption">
        <p class="textheader">Welcome to digibank</p>
        <p class="textbody">Enjoy the faster and more convenient way to bank on the go</p>
      </div>
    </div>
    </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>



    </div></div><div class="containertwo">
      <p class="text">Smart Shortcuts</p>
    <img src="/assets/settings.png" class="setting">

    </div><div class="containerthree"><div class="&quot;scrollview">
    
    <button id="paynowbutton" class="transparent">
     <%= link_to new_transaction_path do %>
    <div class="iconcontainer">
        <%= image_tag("/assets/paynow.png", alt: 'PayNow Image', class: "icons") %>
    <p class="shortcut">PayNow</p>
    </div>
        <% end %>

    </button>
    <button id="transfermoney" class="transparent">
    <div class="iconcontainer"><img src="/assets/local_transfer.png" class="icons">
    <p class="shortcut">Transfer Money</p></div></button>
    <button id="scanpay" class="transparent"><div class="iconcontainer">
    <img src="/assets/scan&amp;pay.png" class="icons">
    <p class="shortcut">Scan &amp; Pay</p></div></button>
    <button class="transparent"><div class="iconcontainer">
    <img src="/assets/transaction_history.png" class="icons">
    <p class="shortcut">Transaction</p>
    <p class="shortcut">History</p></div></button><button class="transparent">
    <div class="iconcontainer"><img src="/assets/local_transfer_limit.png" class="icons">
    <p class="shortcut">Local Transfer</p><p class="shortcut">Limit</p></div></button>
    <button class="transparent"><div class="iconcontainer">
    <img src="/assets/livebetter.png" class="icons">
    <p class="shortcut">Live Better</p></div></button>
    <button class="transparent"><div class="iconcontainer"><img src="/assets/bill.png" class="icons">
    <p class="shortcut">Bills</p></div></button><button class="transparent">
    <div class="iconcontainer"><img src="/assets/setpeekbalance.png" class="icons">
    <p class="shortcut">Set Peek</p><p class="shortcut">Balance</p>
    </div></button><button class="transparent">
    <div class="iconcontainer"><img src="/assets/scheduletransfer.png" class="icons">
    <p class="shortcut">Transfers</p>
    <p class="shortcut">Scheduled</p>
    </div></button></div></div>

    <div class="containerfour"><button id="transaction" class="transparent">
    <div class="recenttransaction"><p class="recenttransactiontext">Recent Transactions</p>
    <img src="/assets/expand.png" class="expand"></div>
    </button></div>


    
    <div class="css-view-175oi2r r-flex-13awgt0 r-overflow-1udh08x">
    <div class="css-view-175oi2r r-boxShadow-fnw73h r-zIndex-184en5c" style="background-color: rgb(255, 255, 255);">
    <div class="css-view-175oi2r r-bottom-1p0dtai r-left-1d2f490 r-position-u8s1d r-right-zchlnj r-top-ipm5af r-pointerEvents-633pao" style="width: 430px;">
    <div class="css-view-175oi2r r-bottom-1p0dtai r-height-epq5cr r-position-u8s1d r-right-zchlnj" style="left: 0px; background-color: rgb(235, 170, 78); width: 50%; transform: translateX(0px);">
    </div></div><div class="css-view-175oi2r"><div role="tablist" class="css-view-175oi2r r-WebkitOverflowScrolling-150rngu r-flexDirection-18u37iz r-flexGrow-16y2uox r-flexShrink-1wbh5a2 r-overflowX-lltvgl r-overflowY-buy8e9 r-transform-agouwx r-scrollbarWidth-2eszeu"><div class="css-view-175oi2r r-flexDirection-18u37iz r-flexWrap-tzz3ar r-flex-13awgt0"><div class="css-view-175oi2r r-flexDirection-18u37iz"><div role="tab" tabindex="0" class="css-view-175oi2r r-cursor-1loqt21 r-touchAction-1otgn73 r-backgroundColor-1niwhzg" style="opacity: 1; width: 215px;">
    <div class="css-view-175oi2r r-alignItems-1awozwy r-flex-13awgt0 r-justifyContent-1777fci r-minHeight-1pl7oy7 r-padding-1sp51qo r-pointerEvents-633pao">
    <div class="css-view-175oi2r"><div class="css-view-175oi2r" style="opacity: 0;">
    <div dir="auto" class="css-text-146c3p1 r-backgroundColor-1niwhzg r-margin-1064s9p r-textAlign-q4m81j r-textTransform-tsynxw" style="color: rgb(163, 163, 163); font-size: 1px; font-family: Lato; font-weight: 0.6;">.</div>
    </div><div class="css-view-175oi2r r-bottom-1p0dtai r-left-1d2f490 r-position-u8s1d r-right-zchlnj r-top-ipm5af" style="opacity: 1;">

<div class="tab-container">
        <!-- Tabs -->
        <div class="tabs">
            <div class="tab" onclick="showTab('accounts')">ACCOUNTS</div>
            <div class="tab" onclick="showTab('insights')">INSIGHTS</div>
        </div>

        <!-- Content for Accounts tab -->
        <div id="tab-accounts" class="tab-content active">
            <div class="css-view-175oi2r r-flex-13awgt0 r-overflow-1udh08x" style="width: 430px; background-color: rgb(242, 242, 242);">
                <!-- Your ACCOUNTS content goes here -->
                <div class="header1">
                    <div class="blueline"></div>
                    <p class="text">Your Net Worth</p>
                    <img src="/assets/expand.png" class="expand2">
                </div>
                <div class="container2">
                    <div class="value">Value</div>
                    <div class="textcontainer">
                        <p class="sgd">SGD</p>
                        <p class="money">29891.00</p>
                    </div>
                </div>
                <div class="line"></div>
                <button class="buttontransparent">
                    <div>
                        <div class="header1">
                            <div class="yellowline"></div>
                            <p class="text">Deposits</p>
                            <img src="/assets/expand.png" class="expandrotated2">
                        </div>
                        <div class="container2">
                            <div class="value">Balance</div>
                            <p class="money">29891.00</p>
                        </div>
                        <div class="line"></div>
                    </div>
                </button>
            </div>
        </div>

        <!-- Content for Insights tab -->
        <div id="tab-insights" class="tab-content">
            <!-- Your INSIGHTS content goes here -->
            <div class="css-view-175oi2r r-flex-13awgt0 r-overflow-1udh08x" style="width: 430px; background-color: rgb(242, 242, 242);">
                <div class="insightscontainer">
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Review your budget</p>
                        <p class="body">You've maintained your monthly spending average.</p>
                    </div>
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Resolve unexpected transactions quickly!</p>
                        <p class="body">Here are some tips for you.</p>
                    </div>
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Was this deposit expected?</p>
                        <p class="body">You don't often receive money from this source.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

       <%# Bottom Nav Bar %>
    <div class="bottomnav"><div class="bottomtabnavigatorcontainer"><button class="transparent"><img src="/assets/home_bottomfilled.png" alt="home" class="navicon"><p class="navtextselected">Home</p></button>
    <button class="transparent"><img src="/assets/invest_bottom.png" alt="invest" class="navicon">
    <p class="navtext">Invest</p></button><button class="transparent">
    <img src="/assets/pay&amp;transfer_bottom.png" alt="pay" class="navicon">
    <p class="navtext">Pay &amp; Transfer</p>
    </button><button class="transparent"><img src="/assets/plan_bottom.png" alt="plan" class="navicon">
    <p class="navtext">Plan</p></button><button class="transparent">
    <img src="/assets/more_bottom.png" alt="more" class="navicon">
    <p class="navtext">More</p></button></div></div></div></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  
<!-- Inline JavaScript for tab switching -->
    <script>
        function showTab(tabName) {
            // Hide all tab contents
            var tabContents = document.getElementsByClassName("tab-content");
            for (var i = 0; i < tabContents.length; i++) {
                tabContents[i].style.display = "none";
            }

            // Deactivate all tabs
            var tabs = document.getElementsByClassName("tab");
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("active");
            }

            // Show the selected tab content
            document.getElementById("tab-" + tabName).style.display = "block";

            // Activate the selected tab
            document.querySelector(".tab[data-tab='" + tabName + "']").classList.add("active");
        }
    </script>
</body>
</html>
