
<html lang="en">
<head>
  <style id="react-native-stylesheet"></style>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="Web site created using create-react-app">
  <link rel="apple-touch-icon" href="/logo192.png">
  <link rel="manifest" href="/manifest.json">
  <title>ACCOUNTS</title>
  <%# <script defer="" src="/static/js/bundle.js"></script> %>

</head>

<body data-new-gr-c-s-check-loaded="14.1185.0" data-gr-ext-installed="">
  <div id="root">
    <div class="container">
      <div class="scrollable">
        <div class="homeheader">
          <div class="header">
            <div class="leftcontainer">
              <button class="transparent">
                <%= image_tag('bellwhite.png', alt: 'bell', class: 'bell') %>
              </button>
              <button class="transparent">
                <%= image_tag('eye.png', class: 'eye') %>
              </button>
            </div>
            <div class="rightcontainer">

              <% if Current.user %>
              <%= Current.user.phone %>
              <% end %>

              <button class="transparent">
                <%= image_tag('help.png', class: 'help') %>
              </button>
              
              <div class="logoutContainer">
                <%= button_to logout_path, method: :delete, class: "transparent" do %>
                  <p class="logoutText">LOG OUT</p>
                <% end %>
              </div>
            </div>
          </div>

          <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag('background.png', alt: 'DBS background', class: 'carouselImage') %>
                <div class="carousel-caption">
                  <p class="textheader">Welcome to DBS Digibank</p>
                  <p class="textbody">Enjoy the faster and convenient way to bank on the go</p>
                </div>
              </div>
          </div>
        </div>
        <div class="containertwo">
          <p class="text">Smart Shortcuts</p>
          <%= image_tag('settingicon.jpg', class: 'setting') %>
        </div>
        
        <div class="containerthree">
          <div class="scrollview">
            

            <button id="paynowbutton" class="transparent">
              <%= link_to enter_transaction_path do %>
                <div class="iconcontainer">
                  <%= image_tag("paynow2.jpg", alt: 'PayNow Image', class: "icons") %>
                  <p class="shortcutname">PayNow</p>
                </div>
              <% end %>
            </button>

            <button class="transparent">
              <%= link_to transaction_history_path do %>
                <div class="iconcontainer">
                  <%= image_tag("thistory.jpg", class: "icons") %>
                  <p class="shortcutname">Transaction</p>
                  <p class="shortcutname">History</p>
                </div>
              <% end %>
            </button>

            <button id="overseasbutton" class="transparent">
              <%= link_to overseas_transfer_path do %>
                <div class="iconcontainer">
                  <%= image_tag("overseas2.jpg", alt: 'Overseas Image', class: "icons") %>
                  <p class="shortcutname">Overseas</p>
                  <p class="shortcutname">Transactions</p>
                </div>
              <% end %>
            </button>

            <button class="transparent">
              <%= link_to scheduled_transactions_path do %>
              <div class="iconcontainer">
                <%= image_tag("scheduled.jpg", class: "icons") %>
                <p class="shortcutname">Transfers</p>
                <p class="shortcutname">Scheduled</p>
              </div>
              <% end %>
            </button>

            <button id="transfermoney" class="transparent">
              <div class="iconcontainer">
                <%= image_tag("trnsfr.jpg", class: "icons") %>
                <p class="shortcutname">Transfer Money</p>
              </div>
            </button>

            <button id="scanpay" class="transparent">
              <div class="iconcontainer">
                <%= image_tag("Scan2.jpg", class: "icons") %>
                <p class="shortcutname">Scan &amp; Pay</p>
              </div>
            </button>

            <button class="transparent">
              <div class="iconcontainer">
                <%= image_tag("localtransfer2.jpg", class: "icons") %>
                <p class="shortcutname">Local Transfer</p>
                <p class="shortcutname">Limit</p>
              </div>
            </button>

            <button class="transparent">
              <div class="iconcontainer">
                <%= image_tag("livebetter.jpg", class: "icons") %>
                <p class="shortcutname">Live Better</p>
              </div>
            </button>

            <button class="transparent">
              <div class="iconcontainer">
                <%= image_tag("bills2.jpg", class: "icons") %>
                <p class="shortcutname">Bills</p>
              </div>
            </button>

            <button class="transparent">
              <div class="iconcontainer">
                <%= image_tag("peekhome.jpg", class: "icons") %>
                <p class="shortcutname">Set Peek</p>
                <p class="shortcutname">Balance</p>
              </div>
            </button>

            
          </div>
        </div>


    </scrollable>

      <div class="bottomnav" style: 'position: fixed;'>
        <div class="bottomtabnavigatorcontainer">
          <button class="transparent">
            <%= image_tag("home_bottomfilled.png", alt: 'home', class: "navicon") %>
            <p class="navtextselected">Home</p>
          </button>
          <button class="transparent">
            <%= image_tag("invest_bottom.png", alt: 'invest', class: "navicon") %>
            <p class="navtext">Invest</p>
          </button>
          <a href="/pay_and_transfer_page/index">
            <button class="transparent">
              <%= image_tag("pay&transfer_bottom.png", alt: 'pay', class: "navicon") %>
              <p class="navtext">Pay &amp; Transfer</p>
            </button>
          </a>
          <button class="transparent">
            <%= image_tag("plan_bottom.png", alt: 'plan', class: "navicon") %>
            <p class="navtext">Plan</p>
          </button>
          <button class="transparent">
            <%= image_tag("more_bottom.png", alt: 'more', class: "navicon") %>
            <p class="navtext">More</p>
          </button>
        </div>
      </div>

      <div class="tab-container">
        <!-- Tabs -->
        <div class="tabs">
            <div class="tab" onclick="showTab('accounts')">Accounts</div>
            <div class="tab" onclick="showTab('insights')">Insights</div>
        </div>

        <!-- Content for Accounts tab -->
        <div id="tab-accounts" class="tab-content active">
                <!-- Your ACCOUNTS content goes here -->
                <div class="header1">
                    <div class="blueline"></div>
                    <p class="text">Your Net Worth</p>
                    <%= image_tag("expand.png", class: "expand2") %>
                </div>
                <div class="container2">
                    <div class="value">Value</div>
                    <div class="textcontainer">
                        <p class="sgd">SGD</p>
                        <p class="money">29891.00</p>
                    </div>
                </div>
                <div class="line"></div>
                <button class="buttontransparent">
                    <div>
                        <div class="header1">
                            <div class="yellowline"></div>
                            <p class="text">Deposits</p>
                            <%= image_tag("expand.png", class: "expandrotated2") %>
                        </div>
                        <div class="container2">
                            <div class="value">Balance</div>
                            <div class="textcontainer">
                              <p class="sgd">SGD</p>
                              <p class="money">29891.00</p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                </button>
            
        </div>

        <!-- Content for Insights tab -->
        <div id="tab-insights" class="tab-content">
                <div>
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Review your budget</p>
                        <p class="body">You've maintained your monthly spending average.</p>
                    </div>
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Resolve unexpected transactions quickly!</p>
                        <p class="body">Here are some tips for you.</p>
                    </div>
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Was this deposit expected?</p>
                        <p class="body">You don't often receive money from this source.</p>
                    </div>
                </div>
            </div>
    </div>     
    </div>

    </div>


    
    <div class="fab-container">
      <div class="fab shadow" onclick="toggleSuggestionTabs()">
        <div class="fab-content">
          <%= image_tag("lightbulb1.png", alt: 'lightbulb1', style: "width: 40px; height: 40px;") %>
        </div>
      </div>
    
      <!-- Suggestion Tabs -->
      <div class="suggestion-tab-container" id="suggestionTabContainer">
        <div class="suggestion-tabs">
          <button class="suggestion-tablinks" onclick="openSuggestionTab(event, 'suggestion1')"><%= image_tag("lightbulbred.png", alt: 'lightbulbred', style: "width: 30px; height: 30px;") %></button>
          <button class="suggestion-tablinks" onclick="openSuggestionTab(event, 'suggestion2')"><%= image_tag("lightbulbred.png", alt: 'lightbulbred', style: "width: 30px; height: 30px;") %></button>
          <button class="suggestion-tablinks" onclick="openSuggestionTab(event, 'suggestion3')"><%= image_tag("lightbulbred.png", alt: 'lightbulbred', style: "width: 30px; height: 30px;") %></button>
        </div>
    
        <div id="suggestion1" class="suggestion-tabcontent">
        <!-- Suggestion 1 Content -->
        <div class="suggestion-content">
          <% if @frequent_transactions_with_dates.any? %>
            <% @frequent_transactions_with_dates.each_with_index do |transaction, index| %>
              <h3>Hello! We have a suggestion for you:</h3>
              <p>We noticed you paid <%= transaction[:name] %> <%= number_to_currency(transaction[:amount], unit: 'SGD ', precision: 2) %> on these dates and times:</p>
              <ul class="transaction-details-date">
                <% transaction[:dates].each do |date| %>
                  <li><%= date.strftime('%Y-%m-%d %H:%M') %></li>
                <% end %>
              </ul>
              <div class="buttons">
                <%= link_to "Schedule Payment", 
                    new_scheduled_transaction_path(
                      scheduled_transaction: { 
                        name: transaction[:name], 
                        amount: transaction[:amount] 
                      }
                    ), 
                    class: 'scheduleButton', 
                    id: "scheduleButton#{index}" %>
      
                <p> OR </p>
      
                <%= link_to "Make a Quick Shortcut", 
                    new_shortcut_path(
                      shortcut: { 
                        recipient_name: transaction[:name],
                        amount: transaction[:amount],
                        nickname: ""
                      }
                    ), 
                    class: 'shortcut', 
                    id: "shortcut#{index}" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      
      <div id="suggestion2" class="suggestion-tabcontent">
        <h3>Hello! We have a suggestion for you:</h3>
        <p>We noticed that you are in Thailand!</p>
        <p>Consider using Promptpay for mobile payments to Thai numbers today:</p>
        <div class="buttons">
          <a href="/promptpay" class="scheduleButton">Proceed to Promptpay</a>
        </div>
      </div>
      
      <div id="suggestion3" class="suggestion-tabcontent">
      <% if @close_transactions.any? %>
        <h3>Hello! We have a suggestion for you:</h3>
        <p>We notice you have been making payments nearing your card limit of SGD 500.</p>
        <p>Consider increasing your card limit to manage your spending:</p>
        <div class='buttons'>
          <a href="/cardlimit/new" class="scheduleButton">Change my card limit</a>
        </div>
      <% end %>
    </div>
    
      
      
    <script>
    function showTab(tabName) {
      var tabContents = document.getElementsByClassName("tab-content");
      for (var i = 0; i < tabContents.length; i++) {
        tabContents[i].style.display = "none";
      }
    
      var tabs = document.getElementsByClassName("tab");
      for (var i = 0; i < tabs.length; i++) {
        tabs[i].classList.remove("active");
      }
    
      document.getElementById("tab-" + tabName).style.display = "block";
      document.querySelector(".tab[onclick='showTab(\"" + tabName + "\")']").classList.add("active");
    }
    
    function toggleSuggestionTabs() {
      var suggestionTabContainer = document.getElementById("suggestionTabContainer");
      var suggestionTabLinks = document.querySelectorAll('.suggestion-tablinks');
  
      if (suggestionTabContainer.style.display === "block") {
        suggestionTabContainer.style.display = "none";
      } else {
        suggestionTabContainer.style.display = "block";
        if (suggestionTabLinks.length > 0) {
          openSuggestionTab({ currentTarget: suggestionTabLinks[0] }, 'suggestion1');
        }
      }
    }
  
    function openSuggestionTab(evt, suggestionId) {
      var suggestionContents = document.querySelectorAll('.suggestion-tabcontent');
      var suggestionLinks = document.querySelectorAll('.suggestion-tablinks');
  
      suggestionContents.forEach(function(content) {
        content.style.display = 'none';
      });
  
      suggestionLinks.forEach(function(link) {
        link.classList.remove('active');
      });
  
      document.getElementById(suggestionId).style.display = 'block';
      evt.currentTarget.classList.add('active');
    }
  
    // Initialize with the first tab's content visible
    document.addEventListener('DOMContentLoaded', function() {
      openSuggestionTab({ currentTarget: document.querySelector('.suggestion-tablinks') }, 'suggestion1');
    });

    </script>
    