<%= javascript_include_tag 'application.js', 'data-turbo-track': 'reload', 'async': true %>

<html lang="en">
<head>
  <style id="react-native-stylesheet"></style>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="Web site created using create-react-app">
  <link rel="apple-touch-icon" href="/logo192.png">
  <link rel="manifest" href="/manifest.json">
  <title>ACCOUNTS</title>
  <%# <script defer="" src="/static/js/bundle.js"></script> %>

</head>

<body data-new-gr-c-s-check-loaded="14.1185.0" data-gr-ext-installed="">
  <div id="root">
    <div class="container">
      <div class="scrollable">
        <div class="homeheader">
          <div class="header">
            <div class="leftcontainer">
              <button class="transparent">
                <%= image_tag('bellwhite.png', alt: 'bell', class: 'bell') %>
              </button>
              <button class="transparent">
                <%= image_tag('eye.png', class: 'eye') %>
              </button>
            </div>
            <div class="rightcontainer">

              <div class="search-bar-home">
              <%= form_with url: search_suggestions_path, method: :get, local: true, id: 'search-form' do |form| %>
                <div class="search-container" id="search-container">
                  <%= form.text_field :path, placeholder: "Search for...", value: params[:path], class: 'search-input', id: 'search-input'  %>
                  <%= image_tag 'voice.png', class: 'voice-icon', id: 'voice-button' %>
                  <button type="submit" id="search-button">
                    <%= image_tag 'search.png', class: 'search-icon', id: 'search-icon' %>
                  </button>
                </div>
              <% end %>
              <div id="suggestions-container" class="suggestions-container"></div>
              <div class="dark-overlay" id="dark-overlay"></div>
            </div>

            <!-- Modal HTML -->
            <div id="confirmation-modal" class="search-modal">
              <div class="search-modal-content">
                <span class="search-close-button">&times;</span>
                <div class="search-modal-body">
                  <p id="confirmation-message"></p>
                </div>
                <button id="confirm-button" class="search-confirm-button">YES</button>
              </div>
            </div>

            <div id="no-contact-modal" class="search-modal">
              <div class="search-modal-content">
                <span class="search-close-button">&times;</span>
                <p id="no-contact-message"></p>
              </div>
            </div>



            
              
              <div class="logoutContainer">
                <%= button_to logout_path, method: :delete, class: "transparent" do %>
                  <p class="logoutText">LOG OUT</p>
                <% end %>
              </div>
            </div>
            

          </div>

          

          <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag('background.png', alt: 'DBS background', class: 'carouselImage') %>
                <div class="carousel-caption">
                  <p class="textheader">Welcome to DBS Digibank</p>
                  <p class="textbody">Enjoy the faster and convenient way to bank on the go</p>
                </div>
              </div>
          </div>
        </div>
        <div class="containertwo">
          
          <p class="text">Smart Shortcuts</p>
          <%= image_tag('settingicon.jpg', class: 'setting') %>
        </div>
        
        <div class="containerthree">
          <div class="scrollview">
            

            <button id="paynowbutton" class="transparent">
              <%= link_to enter_transaction_path do %>
                <div class="iconcontainer">
                  <%= image_tag("paynow2.jpg", alt: 'PayNow Image', class: "icons") %>
                  <p class="shortcutname">PayNow</p>
                </div>
              <% end %>
            </button>

            <button id = "history" class="transparent">
              <%= link_to transaction_history_path do %>
                <div class="iconcontainer">
                  <%= image_tag("thistory.jpg", class: "icons") %>
                  <p class="shortcutname">Transaction</p>
                  <p class="shortcutname">History</p>
                </div>
              <% end %>
            </button>

            <button id="overseasbutton" class="transparent">
              <%= link_to overseas_transfer_path do %>
                <div class="iconcontainer">
                  <%= image_tag("overseas2.jpg", alt: 'Overseas Image', class: "icons") %>
                  <p class="shortcutname">Overseas</p>
                  <p class="shortcutname">Transactions</p>
                </div>
              <% end %>
            </button>

            <button class="transparent">
              <%= link_to scheduled_transactions_path do %>
              <div class="iconcontainer">
                <%= image_tag("scheduled.jpg", class: "icons") %>
                <p class="shortcutname">Transfers</p>
                <p class="shortcutname">Scheduled</p>
              </div>
              <% end %>
            </button>

            <button id="transfermoney" class="transparent">
              <div class="iconcontainer">
                <%= image_tag("trnsfr.jpg", class: "icons") %>
                <p class="shortcutname">Transfer Money</p>
              </div>
            </button>

            <button id="scanpay" class="transparent">
              <div class="iconcontainer">
                <%= image_tag("Scan2.jpg", class: "icons") %>
                <p class="shortcutname">Scan &amp; Pay</p>
              </div>
            </button>

            <button class="transparent">
              <div class="iconcontainer">
                <%= image_tag("localtransfer2.jpg", class: "icons") %>
                <p class="shortcutname">Local Transfer</p>
                <p class="shortcutname">Limit</p>
              </div>
            </button>

            <button class="transparent">
              <div class="iconcontainer">
                <%= image_tag("livebetter.jpg", class: "icons") %>
                <p class="shortcutname">Live Better</p>
              </div>
            </button>

            <button class="transparent">
              <div class="iconcontainer">
                <%= image_tag("bills2.jpg", class: "icons") %>
                <p class="shortcutname">Bills</p>
              </div>
            </button>

            <button class="transparent">
              <div class="iconcontainer">
                <%= image_tag("peekhome.jpg", class: "icons") %>
                <p class="shortcutname">Set Peek</p>
                <p class="shortcutname">Balance</p>
              </div>
            </button>

            
          </div>
        </div>


    </scrollable>

      <div class="bottomnav" style: 'position: fixed;'>
        <div class="bottomtabnavigatorcontainer">
          <button class="transparent">
            <%= image_tag("home_bottomfilled.png", alt: 'home', class: "navicon") %>
            <p class="navtextselected">Home</p>
          </button>
          <button class="transparent">
            <%= image_tag("invest_bottom.png", alt: 'invest', class: "navicon") %>
            <p class="navtext">Invest</p>
          </button>
          <a href="/pay_and_transfer_page/index">
            <button class="transparent">
              <%= image_tag("pay&transfer_bottom.png", alt: 'pay', class: "navicon") %>
              <p class="navtext">Pay &amp; Transfer</p>
            </button>
          </a>
          <button class="transparent">
            <%= image_tag("plan_bottom.png", alt: 'plan', class: "navicon") %>
            <p class="navtext">Plan</p>
          </button>
          <button class="transparent">
            <%= image_tag("more_bottom.png", alt: 'more', class: "navicon") %>
            <p class="navtext">More</p>
          </button>
        </div>
      </div>

      <div class="tab-container">
        <!-- Tabs -->
        <div class="tabs">
            <div class="tab" onclick="showTab('accounts')">Accounts</div>
            <div class="tab" onclick="showTab('insights')">Insights</div>
        </div>

        <!-- Content for Accounts tab -->
        <div id="tab-accounts" class="tab-content active">
                <!-- Your ACCOUNTS content goes here -->
                <div class="header1">
                    <div class="blueline"></div>
                    <p class="text">Your Net Worth</p>
                    <%= image_tag("expand.png", class: "expand2") %>
                </div>
                <div class="container2">
                    <div class="value">Value</div>
                    <div class="textcontainer">
                        <p class="sgd">SGD</p>
                        <p class="money">29891.00</p>
                    </div>
                </div>
                <div class="line"></div>
                <button class="buttontransparent">
                    <div>
                        <div class="header1">
                            <div class="yellowline"></div>
                            <p class="text">Deposits</p>
                            <%= image_tag("expand.png", class: "expandrotated2") %>
                        </div>
                        <div class="container2">
                            <div class="value">Balance</div>
                            <div class="textcontainer">
                              <p class="sgd">SGD</p>
                              <p class="money">29891.00</p>
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                </button>
            
        </div>

        <!-- Content for Insights tab -->
        <div id="tab-insights" class="tab-content">
                <div>
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Review your budget</p>
                        <p class="body">You've maintained your monthly spending average.</p>
                    </div>
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Resolve unexpected transactions quickly!</p>
                        <p class="body">Here are some tips for you.</p>
                    </div>
                    <div class="rectangle">
                        <p class="date2">14 JUN</p>
                        <p class="title">Was this deposit expected?</p>
                        <p class="body">You don't often receive money from this source.</p>
                    </div>
                </div>
            </div>
    </div>     
    </div>

    </div>

    
  <div class="fab-container">
    <div class="fab shadow" onclick="toggleSuggestionTabs()">
      <div class="fab-content">
        <%= image_tag("lightbulb1.png", alt: 'lightbulb1', style: "width: 40px; height: 40px;") %>
      </div>
    </div>
  </div>

  <!-- Suggestion Tabs -->
  <div class="suggestion-tab-container" id="suggestionTabContainer">
    <div class="suggestion-tabs">
      <button class="suggestion-tablinks" onclick="openSuggestionTab(event, 'suggestion2')" data-visible="true" data-tab="suggestion2">
        <%= image_tag("lightbulbred.png", alt: 'lightbulbred', style: "width: 30px; height: 30px;") %>
      </button>
      <button class="suggestion-tablinks" onclick="openSuggestionTab(event, 'suggestion1')" data-visible="<%= @frequent_transactions_with_dates.any? %>" data-tab="suggestion1">
        <%= image_tag("lightbulbred.png", alt: 'lightbulbred', style: "width: 30px; height: 30px;") %>
      </button>
      <button class="suggestion-tablinks" onclick="openSuggestionTab(event, 'suggestion3')" data-visible="<%= @close_transactions.any? %>" data-tab="suggestion3">
        <%= image_tag("lightbulbred.png", alt: 'lightbulbred', style: "width: 30px; height: 30px;") %>
      </button>
    </div>
    
     <div id="suggestion1" class="suggestion-tabcontent">
      <!-- Suggestion 1 Content -->
      <div class="suggestion-content" style="text-align: center;">
        <% if @frequent_transactions_with_dates.any? %>
          <% @frequent_transactions_with_dates.each_with_index do |transaction, index| %>
            <h3 style="font-size: 25px;">Hello!</h3>
            <p style="font-size: 20px;">
              We noticed you paid 
              <br>
              <span style="font-size: 23px; font-weight: bold; color: red; text-decoration: underline; text-decoration-color: black; text-underline-offset: 10px;"><%= transaction[:name] %></span>
              <span style="font-weight: bold; color: red; text-decoration: underline; text-decoration-color: black; text-underline-offset: 10px;  margin-bottom: 20px;"><%= number_to_currency(transaction[:amount], unit: 'SGD ', precision: 2) %></span>
              <br>
              <p>on these dates and times:</p>
            </p>
            <ul class="transaction-details-date" style="font-size: 10px;">
              <% transaction[:dates].each do |date| %>
                <li><%= date.strftime('%Y-%m-%d %H:%M') %></li>
              <% end %>
            </ul>
            You might be interested in:
            <div class="buttons-container">
              <div class="buttons">
                <%= link_to "Schedule Payment", 
                    new_scheduled_transaction_path(
                      scheduled_transaction: { 
                        name: transaction[:name], 
                        amount: transaction[:amount] 
                      }
                    ), 
                    class: 'scheduleButton', 
                    id: "scheduleButton#{index}" %>

                <p style="font-size: 15px;"> OR </p>

                <%= link_to "Make a Quick Shortcut", 
                    new_shortcut_path(
                      shortcut: { 
                        recipient_name: transaction[:name],
                        amount: transaction[:amount],
                        nickname: ""
                      }
                    ), 
                    class: 'shortcut', 
                    id: "shortcut#{index}" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="suggestion2" class="suggestion-tabcontent">
      <div class="suggestion-content" style="text-align: center;">
        <h3 style="font-size: 25px;">Hello!</h3>
        <p style="font-size: 20px;">We noticed that you are in</p>
        <p style="font-size: 20px; font-weight: bold; color: red; text-decoration: underline; text-decoration-color: black; text-underline-offset: 10px;  margin-bottom: 20px">Thailand</p>
        <p style="font-size: 20px;">Consider using</p>
        <p style="font-size: 20px; font-weight: bold; color: red; text-decoration: underline; text-decoration-color: black; text-underline-offset: 10px;  margin-bottom: 20px">Promptpay</p>
        <p style="font-size: 20px;">for mobile payments to Thai numbers today:</p>
        <div class="buttons">
          <a href="/promptpay" class="scheduleButton" style="font-size: 20px; margin-bottom: 20px;">Proceed to Promptpay</a>
        </div>
      </div>
    </div>
    
    <div id="suggestion3" class="suggestion-tabcontent">
      <div class="suggestion-content" style="text-align: center;">
        <% if @close_transactions.any? %>
          <h3 style="font-size: 25px;">Hello!</h3>
          <p style="font-size: 18px;">You have been making payments nearing your card limit of</p>
          <p style="font-size: 20px; font-weight: bold; color: red; text-decoration: underline; text-decoration-color: black; text-underline-offset: 10px;  margin-bottom: 20px">SGD 500</p>
          <p style="font-size: 18px;">Consider increasing your card limit to manage your spending:</p>
          <div class='buttons'>
            <a href="/cardlimit/new" class="scheduleButton" style="font-size: 20px; margin-bottom: 20px;">Change my card limit</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>

    <script>
    function showTab(tabName) {
      var tabContents = document.getElementsByClassName("tab-content");
      for (var i = 0; i < tabContents.length; i++) {
        tabContents[i].style.display = "none";
      }
    
      var tabs = document.getElementsByClassName("tab");
      for (var i = 0; i < tabs.length; i++) {
        tabs[i].classList.remove("active");
      }
    
      document.getElementById("tab-" + tabName).style.display = "block";
      document.querySelector(".tab[onclick='showTab(\"" + tabName + "\")']").classList.add("active");
    }
    
    document.addEventListener("turbo:load", function () {
      console.log('turbo:load event fired');
      // Set to keep track of displayed tabs
      const displayedTabs = new Set();
      let fabAnimated = false; // Flag to track FAB animation
      
      // Function to toggle the visibility of suggestion tabs
      function toggleSuggestionTabs() {

        const container = document.getElementById('suggestionTabContainer');
        if (container) {
          console.log('im responding');
          container.classList.toggle('show');
        }
      }
      
      // Function to open a specific suggestion tab
      function openSuggestionTab(event, suggestionName) {
        // Hide all tab contents
        const tabContents = document.querySelectorAll('.suggestion-tabcontent');
        tabContents.forEach(content => content.classList.remove('active'));
      
        // Remove active class from all tab links
        const tabLinks = document.querySelectorAll('.suggestion-tablinks');
        tabLinks.forEach(link => link.classList.remove('active'));
      
        // Show the selected tab content and add active class to the clicked tab
        const selectedTab = document.getElementById(suggestionName);
        if (selectedTab) {
          selectedTab.classList.add('active');
        }
      
        if (event) {
          event.currentTarget.classList.add('active');
        } else {
          // If event is null, manually add the active class to the first tab link
          const tabLink = document.querySelector(`.suggestion-tablinks[data-tab="${suggestionName}"]`);
          if (tabLink) {
            tabLink.classList.add('active');
          }
        }
    
        // Trigger the FAB button animation if the tab is new
        if (!displayedTabs.has(suggestionName) && !fabAnimated) {
          displayedTabs.add(suggestionName);
          triggerFabAnimation();
        }
        
        // Ensure visibility is updated
        updateTabVisibility();
      }
      
      function triggerFabAnimation() {
        const fabButton = document.querySelector('.fab');
        if (fabButton) {
          console.log('Triggering FAB animation'); // Debugging line
          fabButton.classList.add('blink-and-shake');
          setTimeout(() => {
            fabButton.classList.remove('blink-and-shake');
          }, 3000); // Duration for the animations
          fabAnimated = true; // Set the flag to true after animation
        }
      }
      
      // Handle FAB button click
      function handleFabClick() {
        toggleSuggestionTabs();
        
        // Reorder tabs to move the default tab (suggestion2) to the right
        reorderTabs();
        
        // Show the leftmost tab after reordering
        const firstTabLink = document.querySelector('.suggestion-tablinks:not([style*="display: none"])');
        if (firstTabLink) {
          const suggestionName = firstTabLink.getAttribute('data-tab');
          openSuggestionTab(null, suggestionName);
        }
      }
      
      // Function to reorder tabs, pushing the default tab (suggestion2) to the right
      function reorderTabs() {
        const defaultTabId = 'suggestion2';
        const tabsContainer = document.querySelector('.suggestion-tabs');
        
        // Find the default tab link and move it to the end
        const defaultTabLink = document.querySelector(`.suggestion-tablinks[data-tab="${defaultTabId}"]`);
        if (defaultTabLink) {
          tabsContainer.appendChild(defaultTabLink);
        }
      }
      
      // Attach event listener to the FAB button
      const fabButton = document.querySelector('.fab');
      if (fabButton) {
        console.log(fabButton);
        console.log("ive added the event!");
        fabButton.addEventListener('click', handleFabClick);
      }
      
      // Handle click on suggestion tab links
      const tabLinks = document.querySelectorAll('.suggestion-tablinks');
      tabLinks.forEach(link => {
        link.addEventListener('click', function (event) {
          const suggestionName = this.getAttribute('data-tab');
          openSuggestionTab(event, suggestionName);
        });
      });
      
      // Update visibility of tabs based on data-visible attribute
      function updateTabVisibility() {
        const suggestionTabs = document.querySelectorAll('.suggestion-tablinks');
        suggestionTabs.forEach(tab => {
          if (tab.getAttribute('data-visible') === "false") {
            tab.style.display = 'none';
          } else {
            tab.style.display = 'block';
          }
        });
      }
      
      // Initialize by updating tab visibility and showing the default tab
      updateTabVisibility();
      // Show the default tab, if any
      const defaultTab = document.querySelector('.suggestion-tablinks[data-tab="suggestion2"]');
      if (defaultTab) {
        openSuggestionTab(null, 'suggestion2');
      }
    });
    
    
    </script>
    

    