<div class='alertbody'>
  <p class='textheader'> Welcome to digibank</p>
  <p class='textbody'> Enjoy the faster and more convenient way to bank on the go</p>

  <% if @frequent_transactions.any? %>
    <div class='suggestion'>
      <p class='textheader'> Suggestion: </p>
      <p class='textbody'> Based on your frequent transactions, consider scheduling a payment or creating a shortcut for:</p>
      <ul>
        <% @frequent_transactions.each do |transaction| %>
          <li><%= "#{transaction.name}: #{number_to_currency(transaction.amount, unit: 'SGD ', precision: 2)}" %></li>
        <% end %>
      </ul>
    </div>

    <div class='alertbutton'>
      <button class='transparent' id='setupButton'>
        <div class='buttonContainer'>
          <p class='buttonText'>Set up</p>
        </div>
      </button>
    </div>

    <!-- Popup for more details -->
    <div class="popup" id="popup">
      <div class="popup-content">
        <span class="close" id="closePopup">&times;</span>
        <p class='textheader'> Suggestion: </p>
        <p>Based on your past transactions, we noticed that you sent money to 
          <% names = @frequent_transactions.pluck(:name).join(', ') %>
          <%= names %>
        frequently in the past month. Do you want to set up monthly recurring payments?</p>
        <div class="buttons">
          <% if @frequent_transactions.any? %>
            <% transaction = @frequent_transactions.first %> <!-- Assuming you want to use the first transaction for the link -->
            <%= link_to "Schedule Payment", new_scheduled_transaction_path(name: transaction.name, amount: transaction.amount), class: 'scheduleButton', id: 'scheduleButton' %>
          <% end %>
          <%= link_to "Make a Quick Shortcut", '#', class: 'shortcutButton', id: 'shortcutButton' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

  

  <div class='paynowbutton'>
  <%= link_to new_transaction_path do %>
    <div class='iconButtonContainer'>
      <%= image_tag('paynow.png', alt: 'PayNow Image', class: 'paynowImage') %>
      <p class='iconButtonText'>PayNow</p>
    </div>
  <% end %>
</div>


<div class="transaction-history">
  <h1>Transaction History</h1>

  <div class="recenttransaction">
    <table class="transactions-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.name %></td>
            <td><%= number_to_currency(transaction.amount, unit: "SGD -", precision: 2) %></td>
            <td><%= link_to "Show", transaction %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


