<body class="sucesspagebg">
  <%= image_tag('greentick.png', alt: 'DBS-Bank-logo', class: 'greentick') %>

  <div class="moneybody2">
    <div class='moneyleft'>
      <p class="amtin">Amount in</p>
      <p class="currency">SGD</p>
    </div>
    <div class='right2'>
      <div class='amount-fieldsuccess'>
        <%= sprintf('%.2f', @transaction.amount) %>
      </div>
    </div>
  </div>
  <br>
  <div class="name">
    <p>
      <strong>To:</strong>
      <%= @transaction.name %>
    </p>
  </div>

  <div class="name">
    <p>
      <strong>Datetime:</strong>
      <%= "#{@transaction.created_at}" %>
    </p>
  </div>


  <br>
  <div class="button-container">
    <button id="shareDetailsButton" class="red-button">Share transfer details</button>
    <div id="hiddenButtons" style="display: none;">
      <%= button_to "Edit this transaction", edit_transaction_path(@transaction), method: :get, class: "grey-button" %> 
      <br>
      <%= button_to "Destroy this transaction", @transaction, method: :delete, class: "red-button" %>
      <br>
      <%= link_to "Check transaction history", transaction_history_path, method: :get, class: "grey-button" %>
    </div>
  </div>
  <br>
  <%= link_to "Back to Home", transactions_path, method: :get, class: "grey-button separate-home-button" %>

  <script>
    document.getElementById('shareDetailsButton').addEventListener('click', function() {
      var hiddenButtons = document.getElementById('hiddenButtons');
      if (hiddenButtons.style.display === 'none') {
        hiddenButtons.style.display = 'block';
      } else {
        hiddenButtons.style.display = 'none';
      }
    });
  </script>
</body>

<% if flash[:suggestion_created] %>
  <div class="popupshow" id="popupshow">
  <div class="popup-content">
    <span class="close" id="closePopupshow">&times;</span>
    <p class='textheadersuggest'>Suggestion:</p>
    <p>We noticed you paid <%= @transaction.name %> <%= number_to_currency(@transaction.amount, unit: 'SGD ', precision: 2) %> frequently</p>

    <p>Would you like to: </p>
    
    <div class="buttons">
      <%= link_to "Schedule Payment", 
          new_scheduled_transaction_path(
            scheduled_transaction: { 
              name: @transaction.name, 
              amount: @transaction.amount 
            }
          ), 
          class: 'scheduleButton', 
          id: "scheduleButton" %>

      <p> OR </p>

      <%= link_to "Make a Quick Shortcut", 
          new_shortcut_path(
            shortcut: { 
              recipient_name: @transaction.name,
              amount: @transaction.amount,
              nickname: ""
            }
          ), 
          class: 'shortcut', 
          id: "shortcut" %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Check if flash[:suggestion_created] is true and show the popup
    if (<%= flash[:suggestion_created] ? 'true' : 'false' %>) {
      var popup = document.getElementById("popupshow");
      popup.style.display = "block";

      var closeBtn = document.getElementById("closePopupshow");
      closeBtn.onclick = function() {
        popup.style.display = "none";
      };

      window.onclick = function(event) {
        if (event.target == popup) {
          popup.style.display = "none";
        }
      };
    }
  });
</script>

<% end %>


