<% back_path = request.referer == request.original_url ? root_path : request.referer %>
<%= link_to '<', back_path, class: 'back-button' %>
<body class="sucesspagebg">
 <img src="/assets/blackeye.png" alt="Eye Icon" class="top-right-image">
  <%= image_tag('greentick.png', alt: 'DBS-Bank-logo', class: 'greentick') %>
<div class="succes">
<p class="bigT"> Successful </p>
<span class="bigT2"><%= @transaction.created_at.strftime("%d %b %Y %H:%M") %></span> 
<br> <button class="Share">
<img src="/assets/share.png" alt="Share Icon" class="ShareIcon">
<span class="Share2"> Share </span></button >
</div> 
<div class="displaysucc">
 <div class="moneybody2">


    <div class='moneyleft'>
      <p class="amtin">Amount in</p>
      <p class="currency">SGD</p>
    </div>
    <div class='right2'>
      <div class='amount-fieldsuccess'>
        <%= sprintf('%.2f', @transaction.amount) %>
      </div>
    </div>
  </div>
  <div class="name">
    <p>
      <span class="smallT">From</strong><br></span>
      <%= Current.user.phone %><br>
    <span class="smallT">  <%= @transaction.name %></span>
    </p>
  </div>

 <div class="name">
    <p>
      <span class="smallT">To</strong><br></span>
      <%= @transaction.name %><br>
    <span class="smallT">  <%= @transaction.name %></span>
    </p>
  </div>
  <br>
  <div class="button-container">
  <p>  <span class="RedText"> Log Out</span> if you're done </p>
  <%= link_to "MAKE ANOTHER TRANSFER", transactions_path, method: :get, class: "red-button" %>
  </div>

  <% if flash[:suggestion_created] %>
  <div class="popupshow" id="popupshow">
  <div class="popup-content">
    <span class="close" id="closePopupshow">&times;</span>
    <p class='textheadersuggest'>Suggestion:</p>
    <p>We noticed you paid <%= @transaction.name %> <%= number_to_currency(@transaction.amount, unit: 'SGD ', precision: 2) %> frequently</p>

    <p>Would you like to: </p>
    
    <div class="buttons">
      <%= link_to "Schedule Payment", 
          new_scheduled_transaction_path(
            scheduled_transaction: { 
              name: @transaction.name, 
              amount: @transaction.amount 
            }
          ), 
          class: 'scheduleButton', 
          id: "scheduleButton" %>

      <p> OR </p>

      <%= link_to "Make a Quick Shortcut", 
          new_shortcut_path(
            shortcut: { 
              recipient_name: @transaction.name,
              amount: @transaction.amount,
              nickname: ""
            }
          ), 
          class: 'shortcut', 
          id: "shortcut" %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Check if flash[:suggestion_created] is true and show the popup
    if (<%= flash[:suggestion_created] ? 'true' : 'false' %>) {
      var popup = document.getElementById("popupshow");
      popup.style.display = "block";

      var closeBtn = document.getElementById("closePopupshow");
      closeBtn.onclick = function() {
        popup.style.display = "none";
      };

      window.onclick = function(event) {
        if (event.target == popup) {
          popup.style.display = "none";
        }
      };
    }
  });
</script>

<% end %>

  <script>
    document.getElementById('shareDetailsButton').addEventListener('click', function() {
      var hiddenButtons = document.getElementById('hiddenButtons');
      if (hiddenButtons.style.display === 'none') {
        hiddenButtons.style.display = 'block';
      } else {
        hiddenButtons.style.display = 'none';
      }
    });
  </script>
</body>




