<body class="sucesspagebg">
<%= image_tag('greentick.png', alt: 'DBS-Bank-logo', class: 'greentick') %>


  <div class="moneybody2">
    <div class='left'>
      <p class="amtin">Amount in</p>
      <p class="currency">SGD</p>
    </div>
    <div class='right2'>
    <div class='amount-fieldsuccess'>
    <%= @transaction.amount %></div>
    </div>
  </div>
<br>
<div class="name">
<p>

  <strong>To:</strong>
  <%= @transaction.name %>
</p>
</div>

<div class="name">
<p>

  <strong>Reference No:</strong>
  12049490020
</p>
</div>

 <br><br>
 <div class="button-container">
  <%= button_to "Edit this transaction", edit_transaction_path(@transaction), method: :get, class: "grey-button" %> 
<br>
  <%= link_to "Back to transactions", transactions_path, method: :get, class: "grey-button"%>
<br>
  <%= button_to "Destroy this transaction", @transaction, method: :delete,method: :get, class: "red-button" %>
  </div>
</body>